.svg-arrow-left--d {
	width: 37.93px;
	height: 18.85px;
}

.svg-arrow-right--d {
	width: 37.93px;
	height: 18.85px;
}

.svg-social-linkedin--d {
	width: 18.84px;
	height: 17.95px;
}

.svg-social-twitter--d {
	width: 36.94px;
	height: 30px;
}

